@font-face {
  font-family: Figtree-Black;
  src: url(/fonts/Figtree/Figtree-Black.ttf);
}
@font-face {
  font-family: Figtree-Bold;
  src: url(/fonts/Figtree/Figtree-Bold.ttf);
}

.Hero-Container {
  background-color: aqua;
}

.Hero-Title {
  margin-top: 50px;
  text-align: center;
  font-size: 95px;
  font-family: Figtree-Black;
}

.CTA {
  font-weight: 700 !important;
  font-size: 30px !important;
  padding: 10px 30px !important;
}

.category-card p,
.category-card h4 {
  color: white;
}

.card-img-overlay a {
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-family: Figtree-Bold;
    letter-spacing: 5px;
    transition: ease-in 0.2s;
}

.card-img-overlay a:hover {
    color: #ffcc00;
}

.featured-products, .categories, .featured-partners{
  padding-top: 50px;
}

.featured-partners {
  text-align:  center;
}

h2 {
    font-size: 50px !important;
    font-family: Figtree-Bold !important;
}

.featured-products {
    background-color: rgb(241, 241, 241);
}

.min-vh-50 {
    min-height: 50vh !important;
}

.album-card {
    margin-bottom: 50px;
}

img:hover {
    transform: scale(1.05);
    transition: ease-in 0.2s;
}
.list-unstyled li {
  width: 100%;
}

.list-unstyled a {
    gap: 20px;
    text-decoration: none;
    font-size: 30px;
    background-color: #e0e0e0;
}

aside {
    background-color: #ececec;
    padding: 20px;
    height: 100vh;
}

.products-content {
    padding: 20px;
}
